@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Poppins:ital@0;1&display=swap");
/*. font-family: 'Cinzel', serif;*/
/*. font-family: 'Poppins', sans-serif;  */

body {
  height: 100%;
  display: flex;
  font-family: poppins, sans-serif;
  background: linear-gradient(0deg, #03030c 5%, #292930 50%);
  background-repeat: no-repeat;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 3rem;
}

h2 {
  font-family: "Cinzel", serif;
}

/* ! index.html */

.carousel-container {
  display: flex;
  transition: 0.4s ease-in-out;
}

.container {
  display: flex;
  width: 1200px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.next {
  position: absolute;
  right: 0%;
  top: 50%;
  z-index: 11;
}

.prev {
  position: absolute;
  left: 0%;
  top: 50%;
  z-index: 11;
}

.card {
  position: relative;
  width: 260px;
  height: 380px;
  padding: 20px;
  z-index: 1;
}

.card img {
  object-fit: cover;
  width: 260px;
  height: 380px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 5px #c5ac72;
}

.image-container ::before {
  content: "";
  background: rgba(34, 48, 73, 0.75);
  background: linear-gradient(
    0deg,
    rgba(17, 22, 29, 0.924) 20%,
    rgba(41, 50, 60, 0.623) 35%,
    rgba(41, 50, 60, 0) 70%
  );
  width: 260px;
  height: 380px;
  position: absolute;
  bottom: 3.8%;
  padding: 0;
  z-index: 9;
  border-radius: 20px;
}

.card-info {
  position: absolute;
  bottom: 5%;
  font-size: 14px;
  width: 80%;
  overflow: hidden;
  height: 35%;
  margin: auto;
  color: white;
  padding: 1rem;
  margin-bottom: 15px;
  z-index: 10;
}

.card-info p {
  font-size: 14px;
  height: 125px;
  overflow: hidden;
}

.card-info h2 {
  font-size: 18px;
  font-weight: 800;
  text-decoration: underline;
}

/* ! single-blog.html */
.single-blog-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  color: white;
  position: relative;
}

.img-container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: center; */
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  /* height: 100%; */
  padding-left: 100px;
  padding-right: 100px;
  margin-right: 50px;
}

.single-post-img {
  width: 35vw;
  height: 60vh;
  object-fit: cover;
}

.content {
  width: 50%;
  margin: auto 0 auto 0;
  padding-right: 50px;
  font-size: 14px;
  color: white;
}

@media(max-width: 1215px){
  .container{
    width: 900px;
  }
}

@media(max-width: 925px){
  .container{
    width: 600px;
  }
}

@media(max-width: 620px){
  .container{
    width: 300px;
  }
}
