@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Poppins:ital@0;1&display=swap");
/*. font-family: 'Cinzel', serif;*/
/*. font-family: 'Poppins', sans-serif;  */

body {
  height: 100%;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: poppins, sans-serif;
  background: linear-gradient(0deg, #03030c 5%, #292930 50%);
  background-repeat: no-repeat;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 3rem;
  z-index: 999;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  z-index: 999;
}

/* ! Header */
.kings-landing-bg-img {
  background-image: url("/img/kings-landing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
}

header {
  width: 80%;
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  height: 8vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;
  position: absolute;
  top: 3%;
  left: 8%;
}

.kings-landing-bg-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.dark-fade-bg ::before {
  content: "";
  background: rgba(0, 0, 0, 0.356);
  width: 100%;
  height: 60vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.dark-fade-bg h1 {
  z-index: 999;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  height: 10vh;
}

.navbar {
  font-size: 1.5rem;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* ! footer */
footer {
  background: #464646;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
}

footer h3 {
  margin-left: 10px;
}

/* ! index.html */

.latest-posts {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  color: white;
}

.carousel-container {
  display: flex;
  transition: 0.4s ease-in-out;
}

.container {
  display: flex;
  width: 1723px;
  margin: auto;
  overflow: hidden;
  position: relative;
  padding-left: 20px;
  margin: 40px auto;
}

.next {
  padding: 20px 15px;
  background-color: #4646468e;
  color: white;
  position: absolute;
  right: 0;
  top: 40%;
  z-index: 11;
  margin-left: 30px;
}

.prev {
  padding: 20px 15px;
  background-color: #4646468e;
  color: white;
  position: absolute;
  left: 0;
  top: 40%;
  z-index: 11;
}

.next:hover,
.prev:hover {
  background-color: #2e2e2e;
  transition: 0.3s ease-in-out;
}

.card {
  position: relative;
  width: 260px;
  height: 380px;
  padding: 20px;
  z-index: 1;
  margin: 20px;
  transition: transform 250ms;
}

.card:hover {
  transform: translateY(-25px);
  transition: ease-in-out 0.3s;
}

/* @keyframes cardHover {
  from {
    top: 0px;
  }
  to {
    top: -25px;
  }
} */

.card img {
  object-fit: cover;
  width: 260px;
  height: 380px;
  border-radius: 20px;
}

.image-container {
  border-radius: 20px;
  z-index: 999;
}

.image-container:hover {
  box-shadow: 0px 5px 10px 10px #c5ac72;
  transition: 0.3s ease-in-out;
  animation: cardHover 0.3s ease-in-out forwards;
  z-index: 13;
}

.image-container ::before {
  content: "";
  background: rgba(34, 48, 73, 0.75);
  background: linear-gradient(
    0deg,
    rgba(17, 22, 29, 0.924) 20%,
    rgba(41, 50, 60, 0.623) 35%,
    rgba(41, 50, 60, 0) 70%
  );
  width: 260px;
  height: 380px;
  position: absolute;
  bottom: 3.8%;
  padding: 0;

  border-radius: 20px;
  box-shadow: 0px 5px 10px 5px #c5ac72;
}

.image-container ::before:hover {
  animation: cardHover 0.3s ease-in-out forwards;
}

.card-info {
  position: absolute;
  bottom: 5%;
  font-size: 14px;
  width: 80%;
  overflow: hidden;
  height: 35%;
  margin: auto;
  color: white;
  padding: 1rem;
  margin-bottom: 15px;
  z-index: 13;
}

.card-info p {
  font-size: 14px;
  height: 125px;
  overflow: hidden;
  z-index: 13;
}

.card-info h2 {
  font-size: 18px;
  font-weight: 800;
  text-decoration: underline;
}

/* ! single-blog.html */
.spacer {
  height: 20vh;
  padding-bottom: 20px;
  background: linear-gradient(180deg, #0a196e 30%, rgba(41, 50, 60, 0) 90%);
}

.single-blog-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  color: white;
  position: relative;
  margin-bottom: 40px;
}

.img-container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: center; */
  position: sticky;
  top: 10%;
  position: -webkit-sticky;
  /* height: 100%; */
  padding-left: 100px;
  padding-right: 100px;
  margin-right: 50px;
  margin-top: 50px;
}

.single-post-img {
  width: 35vw;
  height: 60vh;
  object-fit: cover;
  border-radius: 20px;
}

.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.1rem;
  margin-top: 40px;
}

.post-info i {
  margin-right: 20px;
}

.author,
.posted-time {
  display: flex;
  align-items: center;
}

.content {
  width: 50%;
  margin: auto 0 auto 0;
  padding-right: 50px;
  font-size: 14px;
  color: white;
}

/* ! Media Queries */

@media (max-width: 1920px) {
  .container {
    width: 1360px;
    padding-right: 20px;
  }
}

@media (max-width: 1420px) {
  .container {
    width: 1020px;
    padding-right: 20px;
  }
}

@media (max-width: 1060px) {
  .container {
    width: 680px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 340px;
  }
}
