@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Poppins:ital@0;1&display=swap");
/*. font-family: 'Cinzel', serif;*/
/*. font-family: 'Poppins', sans-serif;  */

html {
  position: relative;
}

body {
  height: 100%;

  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: poppins, sans-serif;
  background: linear-gradient(0deg, #03030c 5%, #292930 50%);
  background-repeat: no-repeat;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 3rem;
}

h2 {
  font-family: "Cinzel", serif;
}

/* ! Header */
header {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 50vh;
  background-image: url("/img/kings-landing.jpg");
  background-position: center;
}

.header-content {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: auto;
  height: 100%;
}

.logo {
  height: 10vh;
}

.navbar {
  font-size: 1.3rem;
  height: 80px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: white;
}

/* ! footer */
footer {
  background: #464646;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
}

footer h3 {
  margin-left: 10px;
}

/* ! index.html */

.carousel-container {
  display: flex;
  transition: 0.4s ease-in-out;
}

.container {
  display: flex;
  width: 1383px;
  margin: auto;
  overflow: hidden;
  position: relative;
  padding-left: 20px;
}

.next {
  padding: 20px 15px;
  background-color: #4646468e;
  color: white;
  position: absolute;
  right: 0;
  top: 40%;
  z-index: 11;
  margin-left: 30px;
}

.prev {
  padding: 20px 15px;
  background-color: #4646468e;
  color: white;
  position: absolute;
  left: 0;
  top: 40%;
  z-index: 11;
}

.next:hover,
.prev:hover {
  background-color: #464646;
  transition: 0.3s ease-in-out;
}

.card {
  position: relative;
  width: 260px;
  height: 380px;
  padding: 20px;
  z-index: 1;
  margin: 20px;
}

.card img {
  object-fit: cover;
  width: 260px;
  height: 380px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 5px #c5ac72;
}

.image-container ::before {
  content: "";
  background: rgba(34, 48, 73, 0.75);
  background: linear-gradient(
    0deg,
    rgba(17, 22, 29, 0.924) 20%,
    rgba(41, 50, 60, 0.623) 35%,
    rgba(41, 50, 60, 0) 70%
  );
  width: 260px;
  height: 380px;
  position: absolute;
  bottom: 3.8%;
  padding: 0;
  z-index: 9;
  border-radius: 20px;
}

.card-info {
  position: absolute;
  bottom: 5%;
  font-size: 14px;
  width: 80%;
  overflow: hidden;
  height: 35%;
  margin: auto;
  color: white;
  padding: 1rem;
  margin-bottom: 15px;
  z-index: 10;
}

.card-info p {
  font-size: 14px;
  height: 125px;
  overflow: hidden;
}

.card-info h2 {
  font-size: 18px;
  font-weight: 800;
  text-decoration: underline;
}

/* ! single-blog.html */
.single-blog-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  color: white;
  position: relative;
}

.img-container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: center; */
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  /* height: 100%; */
  padding-left: 100px;
  padding-right: 100px;
  margin-right: 50px;
}

.single-post-img {
  width: 35vw;
  height: 60vh;
  object-fit: cover;
}

.content {
  width: 50%;
  margin: auto 0 auto 0;
  padding-right: 50px;
  font-size: 14px;
  color: white;
}

@media (max-width: 1420px) {
  .container {
    width: 1020px;
    padding-right: 20px;
  }
}

@media (max-width: 1060px) {
  .container {
    width: 680px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 340px;
  }
}
